div{
  box-sizing: border-box;
}

#container{
  width : 600px;
  height : 80px;
  margin : auto;
  margin-top : 20px;
  border : solid 1px blue;
  display: flex;
}

#logo{
  border: solid 1px black;
  width : 20%;
  height : 100%;
  flaot : left;
}
#purchase{
  border : solid 1px orange;
  width : 38%;
  height : 100%;
  float : left;
}
#material{
  border : solid 1px red;
  width : 38%;
  height : 100%;
  flaot : left;
}
