div{
  box-sizing: border-box;
}

#container{
  width : 600px;
  height : 80px;
  margin : auto;
  margin-top : 20px;
  display: flex;
}

#logo{
  width : 20%;
  height : 100%;
  flaot : left;
  background-size: cover;
}
#logo:hover{
  border : solid 2px black;
  cursor: pointer;
}
#purchase{
  width : 40%;
  height : 100%;
  float : left;
  background-size: cover;
}
#purchase:hover{
  border : solid 2px black;
  cursor: pointer;
}
#material{
  width : 40%;
  height : 100%;
  flaot : left;
  background-size: cover;
}
#material:hover{
  border : solid 2px black;
  cursor: pointer;
}
